.orange {
    color: orange;
}

h1 {
    font-size: 50px;
}

.flexibale-container {
    display: flex;
}

.half-width {
    width: 50%;
    margin: 5%;

}

.link-batton {
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px;
}

.imag-class {
    width: 70%;
    height: 50%;
    border-radius: 20px;

}

.tope-banar {
    margin-top: 20px;
    background-image: url(images/shapes/top-banner.png);
    background-repeat: no-repeat;

}

.middel-baner {
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-right: 10px;

}

section {
    display: flex;
}

.half-width img {
    width: 60%;
    padding-left: 20px;
}

.text-alin {
    text-align: center;
    margin-top: 0;
    margin-left: 250px;
}

.shado {
    box-shadow: 10px 10px 30px;
    width: 60%;
    margin: 5%;
    padding: 20px;
    border-radius: 10px;
}

.shado img {
    width: 100%;
}